<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <script src="https://kit.fontawesome.com/f4dcd7aa64.js" crossorigin="anonymous"></script>
    <title>Twój profil</title>
</head>
<body>
    <div class="wrapper">
        <div class="side_bar"> 
            <div class='logo'>
                <img id="truck" src='../Public/img/BrickShop.png'>
            </div>
            <div id='account'>
                <a href="#"><i class="fas fa-user"></i>Twój profil</a>
            </div>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Strona Główna</a></li>
                <li><a href="#"><i class="fas fa-envelope-open-text"></i>Wiadomości</a></li>
                <li><a href="#"><i class="fas fa-file-invoice-dollar"></i>Faktury</a></li>
                <li><a href="#"><i class="far fa-chart-bar"></i>   Zestawienia</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i>Zamówienia</a></li>
                <li><a href="#"><i class="fas fa-users"></i>Pracownicy</a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i>Grafik</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i></i>Wyloguj</a></li>
            </ul>
        </div>
        <div class="content">
            <div class='header'>
            <div class='inscription'>
                <img id="inscription" src='../Public/img/Logo.png'>
            </div>

            </div>
            <!-- GŁÓWNA STRONA -->
            <div class="section">
                <div class="tables">
                    <div class="left">
                        <div class="photo"> </div>
                        <h1> Katarzyna Janik </h1>
                        <p> KIEROWNIK </p>
                        <ul>
                            <li><button type="button">ZMIEŃ DANE</button></li>
                            <li><button type="button">ZMIEŃ ZDJĘCIE PROFILOWE</button></li>
                            <li><button type="button">ZMIEŃ HASŁO</button></li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="right_left">
                            <form>
                                <p class="data">DANE OSOBOWE</p>
                                <p>DATA URODZENIA</p>
                                <input type="text" placeholder="1996-02-22" disabled>
                                <p>PESEL</p>
                                <input type="text" placeholder="96022256987" disabled>
                                <p>NUMER TELEFONU</p>
                                <input type="mobile"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="698425469" disabled>
                                <p>NUMER IDENTYFIKATORA</p>
                                <input type="text"placeholder="123" disabled>
                                <p>E-MAIL</p>
                                <input type="email" placeholder="kataryzna@gmail.com" disabled>
                            </form>
                        </div>
                        <div class="line"></div>
                        <div class="right_right">
                            <form>
                                <p class="data">ADRES ZAMIESZKANIA</p>
                                <p>MIEJSCOWOŚĆ</p>
                                <input type="text" placeholder="Nowy Sącz" disabled>
                                <p>ULICA</p>
                                <input type="text" placeholder="Barska" disabled>
                                <p>KOD POCZTOWY</p>
                                <input type="mobile"  pattern="[0-9]{2}-[0-9]{3}" placeholder="33-300" disabled>
                                <div class="address">
                                    <div class="nr-house">
                                        <p>NR DOMU</p>
                                        <input type="text" placeholder="4" disabled>
                                    </div>
                                    <div class="nr-flat">
                                            <p>NR MIESZKANIA</p>
                                            <input type="text" placeholder="48" disabled>
                                    </div>
                                </div>
                                <div class="voivodeship"> 
                                    <p>WOJEWÓDZTWO</p>
                                    <input type="text" placeholder="Małopolskie" disabled>
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>