<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Stylesheet" type="text/css" href="../Public/css/strona.css" />
    <script src="https://kit.fontawesome.com/f4dcd7aa64.js" crossorigin="anonymous"></script>
    <title>Strona Główna</title>
</head>
<body>

    <div class="wrapper">
        <div class="logo">
            <img class="napis" src="../Public/img/BrickShop.png" alt="Brak zdjęcia">
            <img class="koszyk" src="../Public/img/Logo.png" alt="Brak zdjęcia">
        </div>
        <div class="d">
            <button class="okr4"><a href="../Views/messages.html">WIADOMOŚCI</a></button> 
        </div>
        <div class="g">
            <button class="okr7"><a href="../Views/invoices.html">FAKTURY</a></button>
        </div>
        <div class="e">
            <button class="okr5"><a href="../Views/charts.html">ZESTAWIENIA</a></button>
        </div>
        <div class="b">
            <button class="okr2"><a href="../Views/orders.html">ZAMÓWIENIA</a></button> 
        </div>
        <div class="f">
            <button class="okr6"><a href="../Views/workers.html">PRACOWNICY</a></button>
        </div>
        <div class="a">
           <button class="okr1"><a href="../Views/schedule.html">GRAFIK</a></button> 
        </div>
        </div>
    </div>
</body>
</html> 