<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Stylesheet" type="text/css" href="../Public/css/strona.css" />
    <script src="https://kit.fontawesome.com/f4dcd7aa64.js" crossorigin="anonymous"></script>
    <title>Strona Główna</title>
</head>
<body>

    <div class="wrapper">
        <div class="logo">
            <img class="koszyk" src="../Public/img/Logo.png" alt="Brak zdjęcia">
            <img class="napis" src="../Public/img/BrickShop.png" alt="Brak zdjęcia">

        </div>
        <div class="a">
            <button class="okno1"><a1><img id="inscription" src='../Public/img/faktury.png'></a1></button> 
        </div>
        <div class="b">
            <button class="okno2"><b1><img id="inscription" src='../Public/img/wiadomosci.png'></b1></button>
        </div>
        <div class="c">
            <button class="okno3"><c1><img id="inscription" src='../Public/img/pracownicy.png'></c1></button>
        </div>
        <div class="d">
            <button class="okno4"><d1><img id="inscription" src='../Public/img/Zestawienia.png'></d1></button> 
        </div>
        <div class="e">
            <button class="okno5"><e1><img id="inscription" src='../Public/img/grafik.png'></e1></button>
        </div>
        <div class="f">
           <button class="okno6"><f1><img id="inscription" src='../Public/img/moj profil.png'></f1></button> 
        </div>
        <div class="g">
            <button class="okno7"><g1><img id="inscription" src='../Public/img/Zamówienia.png'></g1></button> 
         </div>
        </div>
    </div>
</body>
</html> 