/*tło - główne okno*/
.wrapper .content .section {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: auto;
    text-align: center;
    width: 100%;
    background-color: #c5deeb;
}

/*rozłożenie górnych przycisków*/
.wrapper .content .section .godeep {
    height: auto;
    padding-right: 2em;
    width: 100%;
}

/*przycisk przejdź do archiwalnych zamówień*/
.wrapper .content .section .godeep .goback {
    background: none;
    border: 1px solid #c5deeb;
    border-radius: 2em;
    color: #002AF9;
    float: left;
    margin-top: 1em;
    outline: none;
    padding: 0.5em 1em;
    margin-left: 1em;
    font-weight: bold;
}

/*przycisk utwórz nowe zamówienie*/
.wrapper .content .section .godeep .neworder {
    background: none;
    border: 1px solid #c5deeb;
    border-radius: 2em;
    color: #002AF9;
    float: left;
    margin-top: 1em;
    outline: none;
    padding: 0.5em 1em;
    margin-left: 17em;
    font-weight: bold;
}

/*przycisk odśwież tabelę*/
.wrapper .content .section .godeep .showorder {
    background: none;
    border: 1px solid #c5deeb;
    border-radius: 2em;
    color: #002AF9;
    float: left;
    margin-top: 1em;
    outline: none;
    padding: 0.5em 1em;
    margin-left: 1em;
    font-weight: bold;
}

.wrapper .content .section .info button i {
    margin-left: 0.5em;
}

/*tło przycisku utwórz nowe zamówienie*/
.wrapper .content .section .godeep .neworder:hover {
    background: red;
    color: white;
}

/*tło przycisku odśwież tabelę*/
.wrapper .content .section .godeep .showorder:hover {
    background: green;
    color: white;
}

/*tło przycisku przejdź do archiwalnych zamówień*/
.wrapper .content .section .godeep .goback:hover {
    background: #002AF9;
    color: white;
}

.wrapper .content .section .godeep button i {
    margin-left: 0.5em;
}

.wrapper .content .section .navbar {
    display: flex;
    flex-direction: row;
    height: 15%;
    padding-left: 4em;
    padding-right: 10em;
    width: 100%;
}

.wrapper .content .section .info {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.wrapper .content .section .info form {
    height: 100%;
    text-align: center;
    width: 100%;

}

/*okienka z wypełnionymi danymi - 5 okienek*/
.wrapper .content .section .info form input {
    background: white 0% 0% no-repeat padding-box;
    border: 2px solid #002AF9;
    border-radius: 10px;
    margin-right: 1em;
    padding: 0.5em 1em;
    text-align: center;
}

.wrapper .content .section .info .top {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    margin-top: 3em;
    padding-top: 1em;
    text-align: left;
}

.wrapper .content .section .info .down {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    margin-top: 2em;
    padding-top: 1em;
    text-align: left;
}


.wrapper .content .section .info p {
    color: #002AF9;
    font-size: 0.8em;
    margin-bottom: 0;
}

.wrapper .content .section .bottom {
    height: auto;
    width: 100%;
}

.wrapper .content .section .bottom .table {
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 3em;
    overflow-x: auto;
    width: 100%;
}

.wrapper .content .section .bottom .table table {
    align-self: center;
    border-collapse: collapse;
    height: auto;
    width: 100%;
}

/*tabelka na stronie głównej*/
.wrapper .content .section .bottom .table table td {
    border: 2px solid #c5deeb;
    background-color: white;
}

/*tekst nazwa produktu, nr produktu, ilość*/
.wrapper .content .section .bottom .table table tr[class^="headings"] {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.wrapper .content .section .bottom .table table tr[class^="w"] td:last-child {
    color: red;
}

.wrapper .content .section .bottom .table table tr[class^="w"] {
    color: black;
}

.wrapper .content .section .bottom .table table tr:first-child td {
    border-top: 0;
}

.wrapper .content .section .bottom .table table tr td:first-child {
    border-left: 0;
}

.wrapper .content .section .bottom .table table tr:last-child td {
    border-bottom: 0;
}

.wrapper .content .section .bottom .table table tr td:last-child {
    border-right: 0;
}

/*tło w inpucie - inaczej dane zamawiającego */
.wrapper .content .section .info .top ::placeholder {
    background: white;
    color: black;
}


@media screen and (min-width: 0px) and (max-width: 600px) {


    .wrapper .content .section .godeep .goback {
        margin-top: 0.5em;
    }


    .wrapper .content .section .info div {
        padding-bottom: 0.5em;
    }

    .wrapper .content .section .info .top {
        display: inline-block;
        margin-top: 0.5em;
        padding-top: 0;
    }

    .wrapper .content .section .info .down {
        display: inline-block;
        margin-top: 0.5em;
    }

    .wrapper .content .section .bottom {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        overflow-x: auto;
        width: auto;
    }

    .wrapper .content .section .bottom .table {
        margin-top: 0;
        padding-top: 1em;
    }

    .wrapper .content .section .bottom .table table td {
        vertical-align: middle;

    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {

    .wrapper .content .section .godeep .neworder{
        margin-left: 8em;
    }
    .wrapper .content .section .godeep .goback {
        margin-top: 0.5em;
        margin-left: 12em;
    }
    .wrapper .content .section .info div {
        padding-bottom: 0.5em;
    }

    .wrapper .content .section .info .top {
        display: inline-block;
        margin-top: 0.5em;
        padding-top: 0;
    }

    .wrapper .content .section .info .down {
        display: inline-block;
        margin-top: 0.5em;
    }

    .wrapper .content .section .bottom {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        overflow-x: auto;
        width: auto;
    }

    .wrapper .content .section .bottom .table {
        margin-top: 0;
        padding-top: 1em;
    }

    .wrapper .content .section .bottom .table table td {
        vertical-align: middle;

    }
}

.product-quant {
    max-width: 80px;
}

.product {
    margin-left: auto;
    margin-bottom: 1em;
}

/*utwórz zamówienie - dodaj produkty*/
.product > input, .product > select {
    background-color: white;
    border: 2.5px solid black;
    border-radius: 10px;
    color: black;
    margin-bottom: 0.5em;
    margin-top: -2em;
    padding: 0.2em 0.1em 0.2em 0.4em;
    outline: none;
    width: 30.2%;
    height: 3em;
}

/*utwórz nowe zamówienie - dodaj produkty*/
.product-add {
    cursor: pointer;
    padding: 5px;
    max-width: 150px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 0.5em;
    border: 2.5px solid black;
    background-color: white;
}

/*tło przycisku: utwórz nowe zamówienie - dodaj produkty*/
.product-add:hover {
    background: green;
    color: white;
    border: 2px solid green;
}
